<footer>
    <div class="copyright">
        <span>Copyright 2025<span><br>
        <span>&copy; JobberMan, PLC<br><br></span>
        <span>Sponsored by 
            <br>Intello Marketz.        
            <br>EDEN Systems Ltd.
            <br>ToriLearn.
            <br>UniTee.
            <br>INNOVA Solutions Ltd.
        </span>
    </div>
    <div class="media-plats">
        <span><a href="/" >facebook</a></span>
        <span><a href="/" >instagram</a></span>
        <span><a href="/" >X</a></span>
        <span><a href="/" >LinkedIn</a></span>
    </div>
    <div class="us">
        <span><a href="#about-us">About Us</a></span>
        <label>Comment</label><br>
        <form>
            <textarea name="comment">Reviews</textarea>
        </form>
    </div>
</footer>
